html,body {
    margin: 0;
    height:100%;
}

img {
  height: auto;
  width: 100%;
}

#header {
  position: sticky;
  top:0;
  background: black;
  color: white;
  text-align: center;
}

.row:after {
  display: table;
  clear: both;
}

.column {
  margin: 0 auto; 
  margin-top: 10vh;

  min-width: 33vh;
  max-width: 75vh;

  height: 100%;
  display: flex;
  flex-direction: column;

  vertical-align: top; 
}

.outer-project {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  height: auto;

  border-top:5px solid black;
  -webkit-touch-callout:none;
}

.inner-project {
  position: relative;
  margin-top:-55%;
  margin-bottom: -35%;
  text-align: center;
}

.project-info {
  margin-top: -50%;
  padding: 1vh;
  position: absolute;
  right: 1%;
  width: 40%;
  height: 40%;
  
  background:  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  filter:contrast(500);
  image-rendering:crisp-edges;
  border: 1px solid white;
}

.project-info-text {
  text-align: left;
  color: white;
}

.cursor-circle {
  color: red;
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

