html,body {
    margin: 0;
    height:100%;
    user-select: none;
    scrollbar-gutter: stable; 
    -webkit-overflow-scrolling: touch;
}

img {
  height: auto;
  width: 100%;
  pointer-events: none;
  user-drag: none;  
  user-select: none;
}

video {
  height: auto;
  width: 100%;
  user-drag: none;  
  user-select: none;
}

#header {
  position: sticky;
  top:0;
  background: black;
  color: white;
  text-align: center;
  font-size: 5em;
  height: 2em;
  z-index: 9999;
}

#header img {
  height: 100%;
  width: auto;
  filter: invert(1);
}

@keyframes strobe {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}

.strobing {
  animation: strobe 0.15s;
  animation-iteration-count: 10; 
}

@media (min-width: 1000px) {
  #header {
    font-size: 2em;
    height: 2em;
  }
}

.row:after {
  display: table;
  clear: both;
}

.column {
  margin: 0 auto; 

  min-width: 33vh;
  max-width: 60vh;

  height: 100vh;
  display: flex;
  flex-direction: column;

  vertical-align: top; 
}

