.outer-project {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  height: auto;
  border-top: 5px solid black;
  -webkit-touch-callout: none;
}

.inner-project {
  position: relative;
}

.project-info {
  opacity: 0;
  margin-top: 0%;
  padding: 1vh;
  overflow: hidden;
}

.hidden {
  height: 0;
}

.visible {
  height: auto; 
}

.project-info-text {
  text-align: left;
  color: black;
  font-size: 3em;
}

@media (min-width: 1000px) {
  .project-info-text {
    font-size: 1.5em;
  }
}

.project-info-text.left {
  padding-left: 2%;
  text-align: left;
}

.project-info-text.right {
  padding-right: 2%;
  text-align: right;
}

.label {
  color: red;
}

/* Animation classes */
.inner-project.margin-change {
  animation: marginChange 0.5s forwards;
}

.inner-project.margin-revert {
  animation: marginRevert 0.5s forwards;
}

.project-info.fade-in {
  animation: fadeIn 0.5s forwards;
}

.project-info.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes marginChange {
  from {
    margin-top: var(--margin-top-close);
    margin-bottom: var(--margin-bottom-close);
  }
  to {
    margin-top: var(--margin-top-open);
    margin-bottom: var(--margin-bottom-open);
  }
}

@keyframes marginRevert {
  from {
    margin-top: var(--margin-top-open);
    margin-bottom: var(--margin-bottom-open);
  }
  to {
    margin-top: var(--margin-top-close);
    margin-bottom: var(--margin-bottom-close);
  }
}
