.react-multiple-carousel__arrow {
  background: rgba(0,0,0,1);
  overflow: visible;
  top: calc(100%);
}

.react-multiple-carousel__arrow--left {
    left: calc(30% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
    right: calc(30% + 1px) !important;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(0,0,0,1);
}

.react-multi-carousel-item {
  aria-hidden: false;
}

.react-multi-carousel-list {
  overflow: visible !important;
}

.react-multi-carousel-dot-list {
  top: calc(103%);
}