.mySlides {
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  position: relative; /* Ensure .mySlides is a positioned element */
}

.mySlides.fade-in {
  opacity: 1;
  display: block;
}

.mySlides.fade-out {
  position: absolute;
  opacity: 0;
  display: block;
}

.slideshow-button {
  position: relative; /* Change to absolute positioning */
  top: 100%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 1; /* Ensure buttons appear above slides */
}

.slideshow-button.display-left {
  left: -47%; /* Adjust for perfect horizontal placement */
  border-radius: 3px 0 0 3px;
}

.slideshow-button.display-right {
  right: -47%; /* Adjust for perfect horizontal placement */
  border-radius: 0 3px 3px 0;
}
